
.body{
    background: url('assets/atlas.jpg') no-repeat center center fixed;
    background-size: cover;
}

.main_div{
    background: url('../module_3/assets/browser_logo.png') no-repeat 0 0;
    background-size: 50em; 
    height: 400px;
    margin:  200px 0 0 300px;
}