.metrics_graph > ul{
    list-style-type: none;   
    width: 300px;
}

.metrics_graph > ul > li{
    list-style-type: none; 
    height: 20px;  
}
.metrics_graph > ul ul {
    list-style-type: none; 
    height: 20px;  
}
.metrics_graph > ul ul {
    list-style-type: none;
}
.metrics_graph > ul ul li:first-child {
    margin-top:-3px;
    margin-right: 10px;
}
.metrics_graph > ul ul li {
    float: left;
}
.line{
    width: 10px;
    border-bottom: 3px solid black;
    margin-top: 10px;
}
.vertical_line {
    border-left: 3px solid black;
    height: 52px;
    margin-top:-38px;
    margin-left: 78px;
  }